medicarte_semilla.iml
.idea/
.idea/*
.gradle/
src.iml
GitHub.iml
PruebasGit.iml
medicarteSemilla.iml
target/
out/
build/


Practica.iml
/
src/test/resources/stories/visoraplicaciones/serenitytest/creacion_paciente.story___jb_tmp___
src/test/java/aplicacion/serenity/pacientes/pages/PacientesPages.java___jb_tmp___
src/test/java/aplicacion/serenity/pacientes/steps/PacientesSteps.java___jb_old___
